In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import statsmodels.formula.api as smf

In [2]:
db = sqlite3.connect('/Users/aditya_pachpande/Documents/GitHub/New-Code-Layout/Measurements.db')
df = pd.read_sql_query("SELECT * FROM stations", db)
print(df.head())

DatabaseError: Execution failed on sql 'SELECT * FROM stations': no such table: stations